{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
    {% block head %}
        {% include 'partials/head.html.twig' %}
    {% endblock %}
</head>
<body{% if page.header.body_classes %} class="{{ page.header.body_classes }}"{% endif %}>

{# Wrap content in #app to allow vue components #}
<div id="app">
    {% include 'partials/navbar.html.twig' %}
    <section class="section">
        {% block content %}{% endblock %}
    </section>
    {% include 'partials/footer.html.twig' %}
</div>

{% if page.header.uscripts %}
    <!-- uscripts -->
    {% for uscript in page.header.uscripts %}
        {% if uscript matches '@https?://@' %}
            {{ assets.add(uscript, {'group': 'bottom'}) }}
        {% else %}
            {{ assets.add('page://01.blog/' ~ page.folder() ~ '/' ~ uscript, {'group': 'bottom'}) }}
        {% endif %}
    {% endfor %}
{% endif %}
{{ assets.js() }}
{{ assets.css('bottom') }}
{{ assets.js('bottom') }}
</body>
</html>
