<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <header class="article-header">
    <% if (post.link || post.title){ %>
      <%- partial('post/title', {class_name: 'article-title'}) %>
    <% } %>
    <div class="article-meta">
      <%= __('posted_on') %>
      <%- partial('post/date', {class_name: 'article-date', date_format: 'DDD MMM YYYY'}) %>

      <%= __('into') %>
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
    </div>
  </header>
  <%- partial('post/gallery') %>
  <% if (post.excerpt && index){ %>
    <%- post.excerpt %>
    <% if (theme.excerpt_link){ %>
      <p class="article-more-link">
        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      </p>
    <% } %>
  <% } else { %>
    <div class="article-content chapo">
      <%- post.excerpt %>
    </div>
    <div class="article-content">
      <%- post.more %>
    </div>
  <% } %>
  <footer class="article-footer"></footer>
  <% if (!index){ %>
    <% //- partial('post/nav') %>
  <% } %>
</article>

<% if (post.uscripts && post.uscripts.length){ %>
  <% post.uscripts.forEach(function(script, i){ %>
      <%- asjs(script) %>
  <% }) %>
<% } %>
